<!DOCTYPE html>
<html>
  <head>
    <link href="/Content/CSS/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/Content/CSS/styles.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Dosis:500" rel="stylesheet">
    <meta charset="utf-8">
    <title>Hair Salon</title>
  </head>
  <body style="background-color: white !important;">
    <div class="jumbotron">
      <div class="container">
        <h1>AmyRose Salons</h1><h1><small>For all your beauty needs.</small></h1>
      </div>
    </div>
    <div class="container">
      @RenderBody()
    </div>
  </body>
</html>
