@{
  Layout="Shared/_Layout.cshtml";
}

<h2>Edit client: @Model.GetName()</h2>
<form class="form-horizontal" id="client" action="/client/edit/Model.GetId()" method="post">
  <div class="form-group">
    <label class="col-md-3" for="name">Client Name:</label>
    <div class="col-md-3">
    <input class="form-control" name="name" type="text">
    </div>
  </div>
  <div class="form-group">
    <label class="col-md-3" for="specialty-id">Stylist:</label>
    <div class="col-md-3">
      <select class="form-control" name="specialty-id">
        @foreach (var stylist in Model)
        {
          <option value="@stylist.GetId()">@stylist.GetName()</option>
        }
      </select>
    </div>
  </div>
  <p><button class="btn" type="submit">Edit</button></p>
</form>
