@{
  Layout="Shared/_Layout.cshtml";
}

<h2>Edit client: @Model.GetName()</h2>
<form class="form-horizontal" action="/clients/@Model["selectedClient"].GetId()/edit" method="post">
  <div class="form-group">
    <input type="hidden" name="_method" value="PATCH">
    <input name="client-id" type="hidden" value='@Model["selectedClient"].GetId()'>
    <label class="col-md-3" for="name">Change client name:</label>
    <div class="col-md-3">
    <input class="form-control" id="name" name="name" type="text">
    </div>
  </div>
  <p><button class="btn" type="submit">Edit</button></p>
</form>
