@{
  Layout="Shared/_Layout.cshtml";
}

<h1>Here is this stylist's list of clients:</h1>
  @foreach (var client in @Model["clients"])
  {
    <p><a href="client/@client.GetId()">@client.GetName()</a></p>
  }

  <form action="/client/delete" method="post">
    <button type="submit" class="btn btn-wide">Clear all clients</button>
  </form>
<p><a href="/tasks/new" class="btn btn-wide">Add a new client</a></p>
