@{
  Layout="Shared/_Layout.cshtml";
}

<div class="introduction">
  <h2>All of our stylists are skilled in a variety of services.</h2>
  <p>AmyRose Salons hires and trains some of the most skilled stylists in the city. We're convienently located in every nieghborhood. Book your appointment today. Walk-ins are always welcome!</p>
</div>

<div>
  <h4 ><a href="/stylists">List of Stylists</a></h4>
</div>
