@{
  Layout="Shared/_Layout.cshtml";
}
<h1>Edit Stylist: @Model.GetName()</h1>
<form action='/stylists/edit/@Model.GetId()' method="post" >
  <input type="hidden" name="_method" value="PATCH">
  <input name="stylist_id" type="hidden" value='@Model.GetId()'>
  <label for="name">Change Name:</label>
  <input id="name" name="name" type="text">
  <label for="location">Change Location:</label>
  <input id="location" name="location" type="text">
  <p><button class="btn" type="submit">Edit</button></p>
</form>
