@{
  Layout="Shared/_Layout.cshtml";
}
<h2>Stylists:</h2>
<div>
  @if (Model.Count != 0)
  {
    @foreach (var stylist in Model)
    {
      <a href="/stylists/@stylist.GetId()"><h4 class="stylistNames">@stylist.GetName()</h4>
      <p>Located at our @stylist.GetLocation() location</p></a>
      <p><a href="/stylists/edit/@stylist.GetId()" class="btn">Edit</a>  <a href="/stylists/delete/@stylist.GetId()" class="btn">Delete</a></p>
    }
  }
</div>

<h4><a href="/stylists/new" class="btn btn-wide">Add a new stylist</a></h4>
<form action="/stylists/clear" method="post">
  <button type="submit" class="btn btn-wide">Clear all stylists</button>
</form>
