@{
  Layout="Shared/_Layout.cshtml";
}
  <h3>Are you sure you want to delete @Model.GetName()?</h3>
  <form action='/stylists/delete/@Model.GetId()' method="post">
    <input type="hidden" name="_method" value="DELETE">
    <button type="submit" class="btn">Delete</button>
  </form>
