@{
  Layout="Shared/_Layout.cshtml";
}

<h2>Edit stylist: @Model.GetName()</h2>
<form class="form-horizontal" id="stylist" action="/stylist/edit/Model.GetId()" method="post">
  <div class="form-group">
    <label class="col-md-3" for="name">Stylist Name:</label>
    <div class="col-md-3">
    <input class="form-control" name="name" type="text">
    </div>
  </div>
  <div class="form-group">
    <label class="col-md-3" for="location">Salon Location:</label>
    <div class="col-md-3">
    <input class="form-control" name="location" type="text">
    </div>
  </div>
  <p><button class="btn" type="submit">Edit</button></p>
</div>
</form>
<p><a href="/" class="btn">Home</a></p>
